<a href="https://colab.research.google.com/github/Shubzzz24/Goeduhub-Datascience-ML/blob/main/Task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task 3**
## **REG ID : GO_STP_13238** 
## **NAME : Shubham Rohidas Hundare**

**Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.**

In [ ]:
import operator
d = {4:'e',2:'b',3:'a',5:'d',0:'c'}
print("Given Dictionary :",d)
a = dict(sorted(d.items(),key=operator.itemgetter(1)))
print("Dictionary in ascending order : ",a)

b = dict(sorted(d.items(),key=operator.itemgetter(1),reverse=True))
print("Dictionary in descending order : ",b)

Given Dictionary : {4: 'e', 2: 'b', 3: 'a', 5: 'd', 0: 'c'}
Dictionary in ascending order :  {3: 'a', 2: 'b', 0: 'c', 5: 'd', 4: 'e'}
Dictionary in descending order :  {4: 'e', 5: 'd', 0: 'c', 2: 'b', 3: 'a'}

**Q.2 Write a Python Program to add a key to a dictionary.**

Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
d = {0:10,1:20}
print("Given Dictionary :",d)

d[2]=30
print("After adding key :",d)

Given Dictionary : {0: 10, 1: 20}
After adding key : {0: 10, 1: 20, 2: 30}

**Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.**

In [ ]:
data = {}
n = int(input("Enter no of records want to insert "))
for i in range(0,n):
  a = input("Enter a City Name ")
  b = int(input("Enter  a Temperature "))
  data[a]=b
print(data)

c = input("Enter a city ")
print("Temperature of ",c," is ",data.get(c))

Enter no of records want to insert 3
Enter a City Name Pune
Enter  a Temperature 25
Enter a City Name Mumbai
Enter  a Temperature 30
Enter a City Name Nashi
Enter  a Temperature 20
{'Pune': 25, 'Mumbai': 30, 'Nashi': 20}
Enter a city Mumbai
Temperature of  Mumbai  is  30

**Q. 4 Write a Python program to convert list to list of dictionaries.**

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
color = ["Black", "Red", "Maroon", "Yellow"]
code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
color_code = dict(zip(color,code))
print(color_code)

{'Black': '#000000', 'Red': '#FF0000', 'Maroon': '#800000', 'Yellow': '#FFFF00'}

**Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),**
Employee	Salary
John	14
Smith	13
Alice	32
Daneil	21 
1) Using above create a dictionary of Employees and their Salary

2)Write a program that asks user for three type of inputs,

a)print: if user enter print then it should print all Employees with their Salary in this format,
        John ==>14
        Smith ==>13
        Alice ==>32
         Daneil ==>21

  b)add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it

  c)remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist

  d)query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [ ]:
employee = {'John':1400000,'Smith':1300000,'Alice':3200000,'Daniel':2100000}

option = int(input("Enter your option : \n1.print 2.add 3.remove 4.query"))

if option == 1:
  for i in employee:
    print(i,"==>",employee[i])

elif option ==2:
  name = input("Enter Employee name ")
  sal = int(input("enter Salary "))
  if name in employee:
    print("Employee already Exist")
  else:
    employee.update({name:sal})
  for i in employee:
    print(i,"==>",employee[i])

elif option == 3:
  name_rmv = input("Enter name to be remove ")
  employee.pop(name_rmv)
  for i in employee:
    print(i,"==>",employee[i])

elif option == 4:
  name = input("Enter name of Employee you want to query ")
  print(employee.get(name))

else:
  print("Wrong Choice")

Enter your option :
1.print 2.add 3.remove 4.query2
Enter Employee name Shubham
enter Salary 4000000
John ==> 1400000
Smith ==> 1300000
Alice ==> 3200000
Daniel ==> 2100000
Shubham ==> 4000000

# Questions on Sets-

**Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).**

Ans : Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation. Due to this, frozen sets can be used as keys in Dictionary or as elements of another set.

In [ ]:
name = ('S','H','U','B','H','A','M')
fset = frozenset(name)
print("The Frozen set is ",name)
fset.add('H')

The Frozen set is  ('S', 'H', 'U', 'B', 'H', 'A', 'M')

AttributeError: ignored

**Q.2 Find the elements in a given set that are not in another set**

    set1 = {10,20,30,40,50}

    set2 = {40,50,60,70,80}

In [ ]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}

set3 = set1-set2
set3

{10, 20, 30}